<nav class="theme darken-2">
  <div class="nav-wrapper">
    <%= link_to "Loja Virtual", root_path, class: 'brand-logo', id: 'logo-container' %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down">
      <%= render "layouts/admin/header_links" %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <%= render "layouts/admin/header_links" %>
    </ul>
  </div>
</nav>
