<%= heading "Conheça nossas lojas!" %>

<div class="row">
  <blockquote>Matriz</blockquote>

  <p>Rua Fátima, 429<br/>
    Bairro Itaum, Joinville - SC<br/>
    (47) 3429-4000</p>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3575.6844706671172!2d-48.81702830000002!3d-26.33671480000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94deb14652a9891d%3A0x8149e07ab9287e58!2sRua+F%C3%A1tima%2C+429+-+Fatima!5e0!3m2!1spt-BR!2sbr!4v1393003653661" width="640" height="300" frameborder="0" style="border:0"></iframe>
</div>

<div class="row">
  <blockquote>Filial 1</blockquote>

  <p>Av. Paulo Schroeder, 734<br/>
    Bairro Boemerwaldt, Joinville - SC<br/>
    (47) 3034-0800</p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3574.949431077775!2d-48.831746399999986!3d-26.36049754999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94deb6d198764eab%3A0x9cb41fa0e0d713e4!2sAvenida+Paulo+Schroeder%2C+734+-+Petr%C3%B3polis!5e0!3m2!1spt-BR!2sbr!4v1393006315376" width="640" height="300" frameborder="0" style="border:0"></iframe>
</div>

<div class="row">
  <blockquote>Filial 2</blockquote>

  <p>Av. Nereu Ramos, 14 - sala 1<br/>
    Bairro Rocio Grande, São Francisco do Sul - SC<br/>
    (47) 3444-1200</p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.129559921454!2d-48.6442804!3d-26.25745819999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94d94c2f258b032d%3A0xb0b609b74dc9b372!2sAvenida+Doutor+Nereu+Ramos%2C+14+-+Das+Laranjeiras!5e0!3m2!1spt-BR!2sbr!4v1393006433531" width="640" height="300" frameborder="0" style="border:0"></iframe>
</div>
