.collapsible-body .collection {
  margin: 0;
  border: none;
}

.main-content {
  background-color: #f1f1f1;
  padding-bottom: 20px;
  margin-bottom: 0 !important;
}

footer.page-footer {
  margin-top: 0 !important;
}

.product-line {
  margin-top: 20px;
}

.logo { float:left; }

#header .logo h1#logo {
  text-indent: -9999px;
  display: block;
  width: 341px;
  height: 145px;
  background: url('logo1.png') no-repeat;
}

.search {
  margin-top: 15px;
}

#index-banner {
  margin-bottom: 20px;
}

#logo-container {
  margin-left: 20px;
}

.padx {
  padding-left: 20px;
  padding-right: 20px;
}

.admin-actions {
  margin-top: 20px;
}

.flash {
  padding: 10px;
  background-color: #fafafa;
}

.search-nav {
  margin-bottom: 20px;
}
