ul.tree ul {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
}

ul.tree {
  margin-top: 20px;
}

ul.tree ul {
  padding-left: 1em;
}

ul.tree li {
  margin: 0;
  padding: 0 1.2em;
}
