<% [notice, alert].each do |f| %>
  <% unless f.blank? %>
    <div class="row">
      <div class="information-box round flash center-align"><%= notice || alert %></div>
    </div>
  <% end %>
<% end %>
